# **Analisis Pola dan Tren Perilaku Belanja Konsumen Berdasarkan Data Transaksi**

Nama: Yahya Jailani

Kelas: C

NIM: 2509116085

# **Import Library**

In [1]:
import pandas as pd

# **Memuat Dataset**

In [3]:
file = '/content/shopping_behavior_updated (1).csv'
df = pd.read_csv(file)

In [ ]:
df

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Discount Applied,Previous Purchases,Payment Method,Frequency of Purchases
0,1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Yes,14,Venmo,Fortnightly
1,2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.1,Yes,Yes,2,Cash,Fortnightly
2,3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Yes,23,Credit Card,Weekly
3,4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,Yes,49,PayPal,Weekly
4,5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Yes,31,PayPal,Annually
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3895,3896,40,Female,Hoodie,Clothing,28,Virginia,L,Turquoise,Summer,4.2,No,No,32,Venmo,Weekly
3896,3897,52,Female,Backpack,Accessories,49,Iowa,L,White,Spring,4.5,No,No,41,Bank Transfer,Bi-Weekly
3897,3898,46,Female,Belt,Accessories,33,New Jersey,L,Green,Spring,2.9,No,No,24,Venmo,Quarterly
3898,3899,44,Female,Shoes,Footwear,77,Minnesota,S,Brown,Summer,3.8,No,No,24,Venmo,Weekly
3899,3900,52,Female,Handbag,Accessories,81,California,M,Beige,Spring,3.1,No,No,33,Venmo,Quarterly

In [6]:
df.head(10)

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Discount Applied,Previous Purchases,Payment Method,Frequency of Purchases
0,1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Yes,14,Venmo,Fortnightly
1,2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.1,Yes,Yes,2,Cash,Fortnightly
2,3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Yes,23,Credit Card,Weekly
3,4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,Yes,49,PayPal,Weekly
4,5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Yes,31,PayPal,Annually
5,6,46,Male,Sneakers,Footwear,20,Wyoming,M,White,Summer,2.9,Yes,Yes,14,Venmo,Weekly
6,7,63,Male,Shirt,Clothing,85,Montana,M,Gray,Fall,3.2,Yes,Yes,49,Cash,Quarterly
7,8,27,Male,Shorts,Clothing,34,Louisiana,L,Charcoal,Winter,3.2,Yes,Yes,19,Credit Card,Weekly
8,9,26,Male,Coat,Outerwear,97,West Virginia,L,Silver,Summer,2.6,Yes,Yes,8,Venmo,Annually
9,10,57,Male,Handbag,Accessories,31,Missouri,M,Pink,Spring,4.8,Yes,Yes,4,Cash,Quarterly

In [7]:
df.tail(10)

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Discount Applied,Previous Purchases,Payment Method,Frequency of Purchases
3890,3891,35,Female,Shirt,Clothing,81,Nebraska,XL,Green,Winter,2.6,No,No,33,Debit Card,Annually
3891,3892,36,Female,Dress,Clothing,30,Colorado,L,Peach,Winter,4.7,No,No,6,Bank Transfer,Quarterly
3892,3893,35,Female,Jewelry,Accessories,86,Michigan,L,Indigo,Summer,3.5,No,No,5,PayPal,Fortnightly
3893,3894,21,Female,Hat,Accessories,64,Massachusetts,L,White,Fall,3.3,No,No,29,Bank Transfer,Bi-Weekly
3894,3895,66,Female,Skirt,Clothing,78,Connecticut,L,White,Spring,3.9,No,No,44,Credit Card,Every 3 Months
3895,3896,40,Female,Hoodie,Clothing,28,Virginia,L,Turquoise,Summer,4.2,No,No,32,Venmo,Weekly
3896,3897,52,Female,Backpack,Accessories,49,Iowa,L,White,Spring,4.5,No,No,41,Bank Transfer,Bi-Weekly
3897,3898,46,Female,Belt,Accessories,33,New Jersey,L,Green,Spring,2.9,No,No,24,Venmo,Quarterly
3898,3899,44,Female,Shoes,Footwear,77,Minnesota,S,Brown,Summer,3.8,No,No,24,Venmo,Weekly
3899,3900,52,Female,Handbag,Accessories,81,California,M,Beige,Spring,3.1,No,No,33,Venmo,Quarterly

# **Google Drive**

In [4]:
from google.colab import drive
drive.mount('/content/drive')

path = '/content/drive/MyDrive/Praktikum Season 2/shopping_behavior_updated (1).csv'

Mounted at /content/drive

In [5]:
df = pd.read_csv(path)
df

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Discount Applied,Previous Purchases,Payment Method,Frequency of Purchases
0,1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Yes,14,Venmo,Fortnightly
1,2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.1,Yes,Yes,2,Cash,Fortnightly
2,3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Yes,23,Credit Card,Weekly
3,4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,Yes,49,PayPal,Weekly
4,5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Yes,31,PayPal,Annually
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3895,3896,40,Female,Hoodie,Clothing,28,Virginia,L,Turquoise,Summer,4.2,No,No,32,Venmo,Weekly
3896,3897,52,Female,Backpack,Accessories,49,Iowa,L,White,Spring,4.5,No,No,41,Bank Transfer,Bi-Weekly
3897,3898,46,Female,Belt,Accessories,33,New Jersey,L,Green,Spring,2.9,No,No,24,Venmo,Quarterly
3898,3899,44,Female,Shoes,Footwear,77,Minnesota,S,Brown,Summer,3.8,No,No,24,Venmo,Weekly
3899,3900,52,Female,Handbag,Accessories,81,California,M,Beige,Spring,3.1,No,No,33,Venmo,Quarterly

# **Business Understanding**

Perusahaan perlu memahami pola perilaku belanja konsumen dari data transaksi yang tersedia untuk mengoptimalkan strategi pemasaran dan meningkatkan nilai transaksi. Analisis ini bertujuan mengidentifikasi minimal tiga pola signifikan dan menghasilkan rekomendasi strategis yang dapat meningkatkan rata-rata nilai transaksi sebesar 8 sampai dengan 10% dalam enam bulan. Fokus analisis mencakup pengaruh kependudukan terhadap pola pembelian, tren musiman dan geografis, serta faktor-faktor utama yang mendorong nilai transaksi dan kepuasan pelanggan.

## **1. Business Objective**

1. Tujuan Bisnis: Memahami pola dan tren perilaku belanja konsumen untuk mengoptimalkan strategi pemasaran dan meningkatkan nilai transaksi.
2. Kriteria Kesuksesan:

*  Teridentifikasinya 3 pola/tren perilaku belanja signifikan dari data transaksi.

*  Dihasilkannya rekomendasi strategis yang dapat ditindaklanjuti.

*  Meningkatnya rata-rata nilai transaksi sebesar 8 hingga 10% dalam 6 bulan pasca implementasi.

Pertanyaan Bisnis yang digunakan:

1. Bagaimana pola pembelian bervariasi berdasarkan usia dan jenis kelamin?

2. Bagaimana tren pembelian berubah berdasarkan musim?

3. Apakah ada pola musiman untuk kategori produk tertentu?

4. Apa korelasi antara diskon, status langganan, dan metode pembayaran dengan nilai transaksi serta kepuasan pelanggan?

## **2. Asses Situation**

Inventarisasi Sumber Daya:

* Data: Dataset dengan 3.900 entri pelanggan, mencakup variabel: 'Customer ID, Age, Gender, Item Purchased, Category, Purchase Amount (USD), Location, Size, Color, Season, Review Rating, Subscription Status, Discount Applied, Previous Purchases, Payment Method, Frequency of Purchases'.

* Alat Analitik: Tools untuk analisis data seperti Python (Pandas, Scikit-learn), R, atau platform analisis visual seperti Tableau.

* Keahlian: Tim data scientist atau analis data yang mampu melakukan analisis eksplorasi data, segmentasi pelanggan, analisis korelasi dan pemodelan.

* Pemangku Kepentingan: Manajer produk, tim pemasaran, tim pengembangan algoritma rekomendasi, dan tim strategi bisnis.

Kerangka konseptual ini dapat digunakan untuk mengidentifikasi pola perilaku konsumen serta merumuskan strategi pemasaran yang tepat hingga pada akhirnya meningkatkan retensi dan nilai transaksi pelanggan secara berkelanjutan.

## **3. Analytic Goals & Project Plan**

Berdasarkan tujuan bisnis, tujuan analitik dirumuskan sebagai berikut:

1. Peluang Perusahaan: Membuka peluang untuk perusahaan dalam memasarkan produk dengan waktu yang tepat mengikuti perkembangan tren dan alur sosial media seperti Tiktok, Instagram, DLL.

2. Prediksi: Mengembangkan model untuk memprediksi kelompok usia atau preferensi perangkat berdasarkan pola penggunaan.

3. Rekomendasi Strategi: Memberikan rekomendasi spesifik untuk penargetan algoritma dan personalisasi konten untuk setiap kalangan.

Analisis ini juga relevan bagi pemerintah atau pengelola platform media sosial. Wawasan yang sama dapat digunakan untuk kampanye sosial positif, namun berpotensi disalahgunakan untuk membentuk opini publik atau mengeksploitasi kelompok tertentu.

Projek Plan untuk bisnis:

### Fase 1: Persiapan dan Pemahaman Data
* Mengumpulkan dan memvalidasi data dari file shopping_behavior_updated (1).csv.
* Melakukan eksplorasi data awal (EDA) untuk memahami distribusi, missing values, dan outliers.
* Mendefinisikan metrik evaluasi yang sejalan dengan kriteria kesuksesan bisnis.

### Fase 2: Analisis Eksploratori dan Segmentasi
* Analisis statistik deskriptif untuk setiap kelompok usia. Visualisasi pola penggunaan (misalnya, rata-rata jumlah pembelian per kategori produk per kelompok usia).
* Melakukan analisis klaster (clustering) untuk mengidentifikasi segmen pengguna yang homogen di dalam atau antar kelompok usia.

### Fase 3: Pemodelan dan Analisis Lanjutan
* Mengembangkan model klasifikasi untuk memprediksi kelompok usia berdasarkan variabel penggunaan.
* Uji statistik untuk memvalidasi perbedaan signifikan antar kelompok.